{% extends "blog_app/base.html" %}
{% block content %}
<h1>About Page</h1>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Mental Health Matter!!</h1>
        <p class="lead">  MindMe is a Mental Health Mentorship web applicaton designed to provide a supportive outlet for
            youth between ages (13-18) that are experiencing any stressful circustances (depression, anxiety, issues at
            home or school etc.) and need to learn conflict resolution and adequate coping skills. Youth will be able to
            use the application to discuss their issues in a blog format, recieve 1:1 mentorship via telecomunication or
            instant messenger and connect with mental health resources in their communities.
            The mentors range from mental health professionals, parents, and volunteers who have a passion for youth.
            All mentors will receive training (brick and morter and virtual training available) from a Masters level
            mental health professional. Mentors will be required
            MindMe mentors are available 24/7 anywhere there is internet access!
            If you are interested in becoming a Mentor please click the link below.
            Click here to apply to be a Mentor!</p>
    </div>
</div>
{% endblock content %}
<!-- {% load static %} -->

<!-- <style>
        .content {
            background-image: url("{% static 'images/man.jpg' %}")
        }
    </style>
    <div class="container mt-3 content"> 
        
</div> -->