
{% extends "blog_app/base.html" %}
{% block content %}
<div>
        <h1><a href="/new">Make A New MindMe Post</a></h1>
    </div>
    {% for post in posts %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="/">{{ post.author }}</a>
            <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
        </div>                              
                                            <!-- #post_detail link -->
        <h2><a class="article-title" href="/post/{{post.id}}">{{ post.title }}</a></h2>
        <p class="article-content">{{ post.content }}</p>
                                            <!-- #user posted content -->
    </div>
    <a href="/post/{{post.id}}">Comments: {{ post.comments.count }}</a>
    
</article>
    {% endfor %}
{% endblock content %}

